


<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; margin: 30px auto; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <!-- Header Section -->
        <tr>
            <td align="center" bgcolor="white" style="padding: 10px 0;text-align: center;">                
                <h3 style="color: #e04800;">LASFUNDING</h3>
            </td>
        </tr>
        <!-- Content Section -->
        <tr>
            <td style="padding: 20px; text-align: center;">
                <h1 style="font-size: 24px;text-align:center; color: #333; margin-bottom: 20px;">Dear {{ user }},</h1>
                <p style="font-size: 16px; color: #666;">New KYC submitted for user </p>                                              
            </td>
        </tr>
        <!-- Footer Section -->
        <tr>
            <td align="center" bgcolor="#e04800" style="padding: 10px 0; color: #fff; font-size: 14px;">
                2023 &copy; <a href="https://lasfunding.com">Lasfunding</a>. All rights reserved.
            </td>
        </tr>
    </table>
</body>
